body {
  background-color: rgb(192, 192, 190);
}

.container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.containerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

span {
  margin: 10px;
}

.removeBtn {
  padding: 20px;
  border: none;
  border-radius: 10px;
  letter-spacing: 0.6cqh;
  background-color: rgb(25, 80, 61);
  color: white;
}
.viewMoreBtn {
  padding: 5px;
  color: white;
  background-color: rgb(49, 52, 51);
  border: none;
  border-radius: 10px;
}

.hotelsImage {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 10px;
}

h2 {
  letter-spacing: 0.7cqh;
  margin-bottom: 30px;
}
